 Q1. How do you comment code in python ? What are the different type of comments?

In [1]:
# we use for write comment hashtag . manly comment two type :-- line comment, block comment

Q2. What are variable in python ? How do you declare and assing values to variables?

In [2]:
""""variable is indicate address of any data . we put any int , str , complex number , float number , other data type value in variable"""

'"variable is indicate address of any data . we put any int , str , complex number , float number , other data type value in variable'

In [3]:
a = "string"

In [4]:
b = 6767

In [5]:
c = 67.67

In [6]:
d = 6+87j

Q3. How do you convert one data type to another in python ?

In [7]:
e = "mohan singh"

In [8]:
f = 87

In [9]:
e = f

In [10]:
e

87

In [11]:
f

87

Q4. How do you write and exacute a python  script from the command line ?

In [12]:
"""Hello guys !My name is Mohan Singh Banjara.My village name is Banjara ka Bass, Jawli, Alwar,Rajsthan .Present time is doing Data science impact batch 2.0 ."""

'Hello guys !My name is Mohan Singh Banjara.My village name is Banjara ka Bass, Jawli, Alwar,Rajsthan .Present time is doing Data science impact batch 2.0 .'

Q5. Given a list my_list = [1,2,3,4,5] , Write the code to slice the list and obtain the sub-list[2,3].

In [14]:
my_list = [1,2,3,4,5]

In [15]:
my_list[1:3:1]

[2, 3]

Q6. What is the complex number in mathmatics , and how is it represented in python ?

In [16]:
h=complex(4,3)

In [17]:
h

(4+3j)

In [18]:
# if we extract in complex saample :-- real part and imaginary part value

In [19]:
h.real

4.0

In [20]:
h.imag

3.0

Q7. What is the correct way to declare a variable named age and assing the value25 to it ?

In [21]:
age = 25

In [22]:
age

25

Q8. Declare a variable named price and assing the value 9.99 to it. What data type does this variable belong to ?

In [23]:
price = 9.99

In [24]:
type(price)

float

In [25]:
price

9.99

Q9. Creat  a variable named name and assing your full name to it as a string . How would you print the
value of this variable ?

In [26]:
name = "Mohan singh"

In [30]:
 name =   (name + str(56))

In [31]:
name

'Mohan singh56'

Q10. Given the string "Hello,World!",extract the substring "World"?

In [1]:
s = "Hello,World!"

In [4]:
s[6:11:1]

'World'

Q11. Creat a variable named "is_student"and assing it  a boolean value indicating whether  you are 
currently a student or not .?

In [1]:
is_student = int(input("enter your age for identify"))
if is_student<18:
    print(True)
    
else:
    print(False)

enter your age for identify 6

True